<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';
	import Time, { svelteTime } from 'svelte-time';
	import { dayjs } from 'svelte-time';
	let time = dayjs().format('MMM DD, YYYY');

	/**
	 * @type {unknown}
	 */
	export let id;
	/**
	 * @type {any}
	 */
	export let namech;
	/**
	 * @type {any}
	 */

	// export let content;

	// export let name;

	// @ts-ignore
	async function addComment({ target }) {
		const formData = new FormData(target);
		const { data, error } = await supabase.from('comments').insert({
			content: formData.get('comment'),
			name: formData.get('names'),
			channel: id
		});
		document.getElementById('comment').value = '';
	}

	const comments = readable(null, (set) => {
		supabase
			.from('comments')
			.select('*')
			.filter('channel', 'eq', id)
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('comments:channel=eq.' + id)
			.on('postgres_changes', { event: '*', schema: '*' }, (payload) => {
				if (payload.eventType === 'INSERT') {
					// @ts-ignore
					set([...get(comments), payload.new]);
				}
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<div class="artboard phone-1 breadcrumbs">
	<div class="text-center">#{namech}</div>
	<div class="card bg-gradient-to-b from-base-300 via-base-100 to-base-300 shadow-xl ">
		<Time timestamp={new Date()} format="dddd @ h:mm a" />
		<article style="padding:2px">
			{#if $comments}
				{#each $comments as { content, name, created_at }}
					<!-- <small>{name}</small> -->
					<div class="chat chat-start">
						<div class="chat-header">
							@{name}
						</div>
						<div class="chat-bubble">
							{content}
						</div>
						<div class="chat chat-footer">
							<Time live={1 * 1000} relative />
						</div>
					</div>
					<!-- <p>{content}</p> -->
				{:else}
					There is no conversation yet 🙁
				{/each}
			{:else}
				Loading..
			{/if}
		</article>
	</div>
</div>
<footer>
	<form on:submit|preventDefault={addComment}>
		<div class="form-control">
			<label class="input-group input-white input-group-xs">
				<span class="relative bg-secondary text-slate-800"><b>@</b></span>
				<input
					name="names"
					type="text"
					placeholder="your name"
					class="input input-xs input-secondary w-full max-w-xs"
				/>
			</label>
			<div class="relative">
				<input
					id="comment"
					name="comment"
					type="text"
					placeholder="type your message here..."
					class="w-full pr-16 input input-sm input-secondary"
				/>
				<button class="absolute top-0 right-0 rounded-l-none btn btn-sm btn-secondary">send</button>
			</div>
		</div>
	</form>
</footer>
