<script>
	import '../app.css';
</script>

<div class="flex items-center justify-center h-screen">
	<div class="mockup-phone border-primary">
		<div class="camera" />
		<div class="display">
			<div class="artboard artboard-demo phone-1">
				<!-- navbar -->
				<div class="navbar bg-base-100">
					<div class="navbar-start">
						<a href="/" role="button" class="btn btn-sm btn-ghost">
							<!-- <button class="btn btn-square btn-ghost" href="/"> -->
							<svg
								xmlns="http://www.w3.org/2000/svg"
								fill="none"
								viewBox="0 0 24 24"
								class="inline-block w-6 h-6 stroke-current text-success"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M10 19l-7-7m0 0l7-7m-7 7h18"
								/>
							</svg>
						</a>
						<!-- </button> -->
					</div>
					<div class="navbar-center">
						<p class="btn btn-ghost normal-case text-xl">discond</p>
					</div>
					<div class="navbar-end">
						<button class="btn btn-ghost btn-circle">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-5 w-5"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								><path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
								/></svg
							>
						</button>
						<button class="btn btn-ghost btn-circle">
							<div class="indicator">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									class="h-5 w-5"
									fill="none"
									viewBox="0 0 24 24"
									stroke="currentColor"
									><path
										stroke-linecap="round"
										stroke-linejoin="round"
										stroke-width="2"
										d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
									/></svg
								>
								<span class="badge badge-xs badge-primary indicator-item" />
							</div>
						</button>
					</div>
				</div>
				<!-- end navbar -->
				<slot />
			</div>
		</div>
	</div>
</div>
