<script>
	// @ts-nocheck

	import { supabase } from '$lib/supabaseClient';
	import { readable, get } from 'svelte/store';
	import Post from '$lib/Post.svelte';

	/**
	 * @param {{ target: HTMLFormElement | undefined; }} e
	 */
	async function addPost(e) {
		const formData = new FormData(e.target);
		const { data, error } = await supabase.from('channels').insert({
			namech: formData.get('namech')
		});
	}

	const channels = readable(null, (set) => {
		supabase
			.from('channels')
			.select('*')
			// @ts-ignore
			.then(({ error, data }) => set(data));

		// add subscription to supabase logic
		const subscription = supabase
			.channel('channels')
			.on('postgres_changes', { event: 'INSERT', schema: '*' }, (payload) => {
				// @ts-ignore
				set([...get(channels), payload.new]);
			})
			.subscribe();
		return () => supabase.removeChannel(subscription);
	});
</script>

<div class="artboard phone-1 breadcrumbs">
	<div class="card w-50 bg-base-300 shadow-2xl ">
		<figure class="px-10 pt-10">
			<img
				src="https://www.trios.com/uploads/2016/10/group-of-students-studying-together.jpg"
				alt="study"
				class="mask mask-squircle"
			/>
		</figure>
		<div class="card-body items-center text-center">
			<div class="badge badge-info">18.2M Members</div>
			<div class="badge badge-success">98.6K Online</div>

			<h2 class="card-title">Study Together</h2>
			<p>
				The largest study and productivity server. Study live-time with people on the world via
				chat.
			</p>
			<main style="display: flex; flex-direction: column; align-items:center;">
				<!-- The button to open modal -->
				<label for="my-modal-6" class="btn">add-channel</label>

				<!-- Put this part before </body> tag -->
				<input type="checkbox" id="my-modal-6" class="modal-toggle" />
				<div class="modal modal-bottom sm:modal-middle">
					<div class="modal-box relative">
						<label for="my-modal-6" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
						<form on:submit|preventDefault={addPost}>
							<input
								placeholder="#add-channel"
								name="namech"
								class="input input-sm input-ghost w-full max-w-xs"
							/>
							<div class="modal-action">
								<label for="my-modal-6" class="  btn-sm"><button>add-channel</button></label>
							</div>
						</form>
					</div>
					<div />
				</div>

				<div class="collapse">
					<input type="checkbox" />
					<div class="collapse-title btn-md">list-channel</div>
					<div class="collapse-content">
						{#if $channels}
							{#each $channels as post}
								<ul>
									<a role="button" class="btn btn-secondary btn-xs" href="/channel/{post.id}">
										#{post.namech}
									</a> <br />
								</ul>
							{/each}
						{:else}
							Loading..
						{/if}
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
